<p>This is the server component</p>

<p *ngFor="let server of servers" [ngStyle]="{backgroundColor: getColor()}" 
    [ngClass]="{status: serverStatus === 'offline'}">
    The server with ID: <strong>{{ serverId }}</strong> 
    is currently in state: <strong>{{ getServerStatus() }}</strong>
</p>
<hr>

<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<br>
<button class="btn btn-primary" [disabled]="serverName === ''" (click)="onCreateServer()">Create Server</button>
<hr>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>
